h1 Your password to #{brand}'s admin panel has changed
h2 Hi, #{admin.email}

p This email was sent automatically by #{brand} because your password to the admin control panel has changed.
p To log into the administration control panel, #[a(href=link) click here] or copy the following link into the address bar of your browser:
p(style='text-align: center') #{link}

p
    | Your email is: #{admin.email}<br />
    | Your new password is: #{password}