h1 Password recovery
h2 Hi
    if user.username
        | , #{user.username}
    else if user.profile.firstName
        | , #{user.profile.firstName}
    else if user.email
        | , #{user.email}

p This email was automatically by #{brand} in response to your request to recover your password. The recipient of this email can take the next step in the password recover process.
p To reset your password you can #[a(href=link) click here] or copy the following link into the address bar of your browser:
p(style='text-align: center') #{link}