h1 New post report
h2 Hi, #{brand} administrator

p This email was automatically by #{brand} due to a new post report by #{user.username}
p To review the reported post you can #[a(href=link) click here] or copy the following link into the address bar of your browser:
p(style='text-align: center') #{link}